/* CSS for DjangoMako Project */

.dj_mako_block {
  position: relative;
  background: #f4f4f4;
  border: 1px solid #e0e0e0;
  border-right: 0;
}
.dj_mako_block .count {
  font-weight: bold;
}

.grid-row-header .table-headers {
  display: flex;
  width: 100%;
  background: #f4f4f4;
}
.grid-row-header .table-headers .title-cells {
  width: 25%;
  padding: 25px 15px;
  text-align: center;
  border-left: 1px solid #e0e0e0;
}
.grid-row-header .table-headers .title-cells:first-child {
  border: none;
  border-top: 1px solid #e0e0e0;
}
.grid-row-header .table-headers .title-cells:last-child {
  border-right: 1px solid #e0e0e0;
}
.grid-row-header .table-headers .title-cells span {
  display: block;
  font-size: 16px;
  line-height: 22px;
  color: #70787e;
}
.grid-rows .grid-row .row-headers {
  display: flex;
}
.grid-rows .grid-row .row-headers > div {
  width: 20%;
  max-width: 20%;
  box-sizing: border-box;
  border-bottom: 1px solid #e0e0e0;
  padding: 25px;
  min-height: 200px;
  color: #70787e;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
}
.grid-rows .grid-row .row-headers > div span {
  display: block;
  color: #70787e;
  font-size: 14px;
  line-height: 19px;
}
.grid-rows .grid-row .row-headers > div span.row-title {
  font-size: 20px;
  line-height: 25px;
  font-weight: 600;
  margin: 0 0 7px;
}
.grid-rows .grid-row .row-headers > div span.select-label {
  font-size: 12px;
  margin: 3px;
}
.grid-rows .grid-row .row-headers > div span.feedback-title {
  font-size: 16px;
  line-height: 22px;
  font-weight: bold;
  color: #292c2e;
  text-align: center;
}
.grid-rows .grid-row .row-headers > div span.feedback-sub-title {
  font-size: 16px;
  line-height: 22px;
  font-weight: 500;
  color: #292c2e;
  text-align: center;
}

.grid-rows .grid-row:first-child  .row-headers .title-cells, .grid-rows .grid-row:first-child  .row-headers .cell-drop-down {
  border-top: 1px solid #e0e0e0;
}
.grid-rows .grid-row .row-headers .cell-drop-down {
  background: white;
  border-bottom: 1px solid #e0e0e0;
  border-left: 1px solid #e0e0e0;
}
.grid-rows .grid-row .row-headers .cell-drop-down:last-child {
  border-right: 1px solid #e0e0e0;
}
.footer-container {
  padding: 33px 52px 33px 20%;
  border-right: 1px solid #e0e0e0;
  overflow: hidden;
}
.footer-container  .status-div {
  float: left;
  max-width: calc(100% - 210px);
}
.footer-container  .status-div p {
  margin: 0;
}
.footer-buttons {
  float: right;
}
.footer-buttons button {
  padding: 0;
  font-size: 16px;
  line-height: 22px;
  border: none;
  background: none !important;
  color: #70787e;
  text-transform: uppercase;
  font-weight: normal;
  box-shadow: none !important;
  margin: 0 0 0 42px;
}
.footer-buttons button:hover {
  color: #89C5CC;
}

.dj_mako_block .button-disabled {
  opacity: 0.5;
  pointer-events: none;
}

.dj_mako_block .hide {
  display: none;
}

@keyframes rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@-webkit-keyframes rotate {
  from {
    -webkit-transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
  }
}

.dj_mako_block .logo-img {
  position: absolute;
  left: 50%;
  top: 50%;
  width: 50px;
  height: 50px;
  z-index: 1;
  margin: -25px 0 0 -25px;
}

.dj_mako_block .transparent-bg {
  background: rgba(0, 0, 0, 0.3);
  position: absolute;
  z-index: 10;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
}

.dj_mako_block .loading-bar {
  width: 80px;
  height: 80px;
  margin: -40px 0 0 -40px;
  top: 50%;
  left: 50%;
  box-sizing: border-box;

  border: solid 5px #11294A;
  border-radius: 50%;
  position: absolute;

  border-left-color: transparent;
  border-right-color: transparent;
  border-bottom-color: transparent;
  -webkit-transition: all 0.5s ease-in;
  -webkit-animation-name: rotate;
  -webkit-animation-duration: 1s;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;

  transition: all 0.5s ease-in;
  animation-name: rotate;
  animation-duration: 1s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

.newselectbox {
  position: relative;
  z-index: 1;
}

.newselectbox select {
  display: none; /*hide original SELECT:*/
}

.select-selected {
  background-color: white;
  color: #3c4d62;
}

/*style the arrow:*/
.select-selected:after {
  position: absolute;
  top: 50%;
  right: 15px;
  content: "\f078";
  margin: -11px 0 0;
  font: 14px/22px FontAwesome;
}

/*style the items (options):*/
.select-selected {
  color: #70787E;
  padding: 8px 16px;
  font-size: 14px;
  cursor: pointer;
  user-select: none;
  display: block;
  height: 40px;
  box-sizing: border-box;
  border-radius: 4px !important;
  border: 2px solid #70787e !important;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  padding-right: 30px;
}

/*style items (options):*/
.select-items {
  position: absolute;
  background-color: white;
  color: #3c4d62;
  top: 44px;
  left: 0;
  right: 0;
  z-index: 99;
  overflow-y: auto;
  max-height: 150px;
  border-radius: 4px !important;
  border: 2px solid #70787e !important;
}
.select-items > div{
  padding: 10px 15px;
  font-size: 14px;
  color: #70787E;
}

/*hide the items when the select box is closed:*/
.select-hide {
  display: none;
}

.select-items div:hover,
.same-as-selected {
  background-color: rgba(0, 0, 0, 0.1);
}

.cell-feedback .feedback-sub-title {
    white-space:pre-wrap;
}